.container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;



}

.heroside {
    width: 35%;
}

.mainex {

    width: 65%;
}

.header1 {
    width: 100%;
    height: 80px;
    font-size: 30px;
    background-color: #23D4FF;
    color: white;
    text-align: center;

}

.hero {


    height: 300px;

    background-color: #DFCADD;
    color: white;
    font-size: 30px;
    text-align: center;



}


.main {

    height: 500px;
    background-color: #EDC527;
    color: white;
    font-size: 30px;
    text-align: center;




}

.sidebar {

    height: 400px;
    background-color: #80C268;
    color: white;
    font-size: 30px;


    text-align: center;
}


.extra {

    height: 200px;
    background-color: #898987;
    color: white;
    font-size: 30px;

    text-align: center;
}

.related {

    display: flex;
    width: 100%;
}

.Related-Images {
    width: 75%;
    height: 150px;
    background-color: #00B68D;
    color: white;
    font-size: 30px;
    text-align: center;
}

.Related-posts {
    width: 25%;
    height: 150px;
    background-color: #FFCDD4;
    color: white;
    font-size: 30px;
    text-align: center;
}

.footer1 {
    width: 100%;
    height: 80px;
    background-color: #FEA500;
    font-size: 30px;
    color: white;

    text-align: center;
}